{% extends "base.html.twig" %}

{% block body %}
	<section class="bg-secondary p-2  bg-opacity-50">
		<div class="container container-fluid">
			<div class="row justify-content-around">
				<div class="col-lg-4 text-center">
					<img src="{{ asset('img/404.png') }}" width="200px" alt="Erreur 404">
				</div>
				<div class="col-lg-8 text-middle">
					<br/>
					<h1>Page non trouvée</h1>
					<br/>
					<p>Il semblerait que la page que vous cherchez ne soit pas ici.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
